@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* @layer base {
  ul,
  ol {
    list-style: revert;
  }
} */

@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

body {
  font-family: "Be Vietnam Pro", sans-serif !important;
}

input,
textarea {
  font-family: "Be Vietnam Pro", sans-serif !important;
}

.error-form-auth {
  color: #fa5252;
  font-size: calc(0.875rem - 0.125rem);
}

.boxshadow-custom {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

.slide-in-blurred-left {
  animation: slide-in-blurred-left 0.4s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.slide-out-blurred-left {
  animation: slide-out-blurred-left 0.45s cubic-bezier(0.755, 0.05, 0.855, 0.06)
    both;
}

.slide-left {
  animation: slide-left 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-right {
  animation: slide-right 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-out-blurred-left {
  0% {
    transform: translateX(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-1000px) scaleX(2) scaleY(0.2);
    transform-origin: 100% 50%;
    filter: blur(40px);
    opacity: 0;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100px);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}
