@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
  // background-color: #f9f9f9 !important;
}

input {
  font-family: "Poppins", sans-serif !important;
}

.error-form-auth {
  color: #fa5252;
  font-size: calc(0.875rem - 0.125rem);
}

.boxshadow-custom {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}
