.card {
  cursor: pointer;

  transition: transform 150ms ease, box-shadow 100ms ease;

  @mixin hover {
    box-shadow: var(--mantine-shadow-sm);
    transform: scale(1.04);
    background-color: var(--mantine-color-gray-1);
  }
}
