.card {
  position: relative;
  height: rem(420px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-size: cover;
  backdrop-filter: blur(5px);
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.2s ease;
  @media (max-width: $mantine-breakpoint-md) {
    height: rem(350);
  }
  @mixin hover {
    transform: scale(1.07);
  }
}

.title {
  font-family: Greycliff CF, sans-serif;
  font-weight: 900;
  color: var(--mantine-color-white);
  line-height: 1.2;
  font-size: rem(18px);
  margin-top: var(--mantine-spacing-xs);
}

.category {
  color: var(--mantine-color-white);
  opacity: 0.7;
  font-weight: 700;
  text-transform: uppercase;
}
